In [1]:
import sqlite3
from sqlite3 import Error

In [3]:
def create_connection(path):
    connection = None
    try:
        connection = sqlite3.connect(path)
        print("Connection to SQLite DB successful")
    except Error as e:
        print(f"The error '{e}' occurred")

    return connection

connection = create_connection('data/db.sqlite')

Connection to SQLite DB successful

In [4]:
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query executed successfully")
    except Error as e:
        print(f"The error '{e}' occurred")

In [11]:
create_establecimiento_table = """
CREATE TABLE IF NOT EXISTS establecimiento (
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  name TEXT NOT NULL,
  status TEXT NOT NULL,
  lastUpdateDate DATETIME NOT NULL,
  creationDate DATETIME NOT NULL
);
"""

In [12]:
execute_query(connection, create_establecimiento_table)

Query executed successfully

In [21]:
create_establecimiento = """
INSERT INTO
  establecimiento (id, name, status, lastUpdateDate, creationDate)
VALUES
  ('2', 'Travasi', 'active', '2023-08-24 15:59:33', '2020-07-24 15:30:00');
"""

In [22]:
execute_query(connection, create_establecimiento)

Query executed successfully

In [23]:
def execute_read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as e:
        print(f"The error '{e}' occurred")

In [30]:
def execute_read_query_json(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        # Convert the result to a list of dictionaries
        columns = [col[0] for col in cursor.description]
        result_dict_list = [dict(zip(columns, row)) for row in result]
        return result_dict_list
    except Error as e:
        print(f"The error '{e}' occurred")

In [31]:
select_establecimiento = "SELECT * from establecimiento"
establecimientos = execute_read_query(connection, select_establecimiento)

for establecimiento in establecimientos:
    print(establecimiento)

(1, 'El Escondido', 'active', '2023-07-24 15:59:33', '2010-07-24 15:30:00')
(2, 'Travasi', 'active', '2023-08-24 15:59:33', '2020-07-24 15:30:00')

In [32]:
select_establecimiento = "SELECT * from establecimiento"
establecimientos = execute_read_query_json(connection, select_establecimiento)

for establecimiento in establecimientos:
    print(establecimiento)

{'id': 1, 'name': 'El Escondido', 'status': 'active', 'lastUpdateDate': '2023-07-24 15:59:33', 'creationDate': '2010-07-24 15:30:00'}
{'id': 2, 'name': 'Travasi', 'status': 'active', 'lastUpdateDate': '2023-08-24 15:59:33', 'creationDate': '2020-07-24 15:30:00'}

In [34]:
connection.close()