In [2]:
from datetime import datetime
datetime.now()

datetime.datetime(2024, 1, 29, 21, 1, 17, 215714)

In [3]:
import sqlalchemy as db
engine = db.create_engine("sqlite:///../instance/capataz.db")
conn = engine.connect()

In [4]:
# from sqlalchemy import create_engine
# from sqlalchemy.orm import relationship
# from sqlalchemy.orm import declarative_base
# from sqlalchemy import Column, Integer, DateTime, String, ForeignKey

# engine = create_engine('sqlite:///../instance/capataz.db', echo=True)

# Base = declarative_base()

# class Orders(Base):
#     __tablename__ = 'orders'

#     id = Column(Integer, primary_key=True, nullable=False)
#     customer_id = Column(Integer)
#     order_date = Column(DateTime)
#     status = Column(String)

# class OrderDetails(Base):
#     __tablename__ = 'order_details'
    
#     id = Column(Integer, primary_key=True, nullable=False)
#     product_id = Column(Integer)
#     quantity = Column(Integer)
#     order_id = Column(Integer, ForeignKey(Orders.id), nullable=False)
#     order = relationship("Orders")

---

In [5]:
import sqlite3
from sqlite3 import Error

In [6]:
def create_connection(path):
    connection = None
    try:
        connection = sqlite3.connect(path)
        print("Connection to SQLite DB successful")
    except Error as e:
        print(f"The error '{e}' occurred")

    return connection

connection = create_connection('../instance/capataz.db')

Connection to SQLite DB successful

In [7]:
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query executed successfully")
    except Error as e:
        print(f"The error '{e}' occurred")

In [8]:
def execute_read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as e:
        print(f"The error '{e}' occurred")

In [9]:
select_establecimiento = "SELECT * from user"
establecimientos = execute_read_query(connection, select_establecimiento)

for establecimiento in establecimientos:
    print(establecimiento)

In [10]:
execute_query(connection,'DROP TABLE user')

Query executed successfully

In [21]:
select_establecimiento = "SELECT * from establecimiento"
establecimientos = execute_read_query(connection, select_establecimiento)

for establecimiento in establecimientos:
    print(establecimiento)

In [22]:
execute_query(connection,'DROP TABLE establecimiento')

Query executed successfully

In [11]:
select_establecimiento = "SELECT * from establecimiento"
establecimientos = execute_read_query(connection, select_establecimiento)

for establecimiento in establecimientos:

    print(establecimiento)

The error 'no such table: establecimiento' occurred

TypeError: 'NoneType' object is not iterable

In [13]:
select_establecimiento = "SELECT * from establishment"
establecimientos = execute_read_query(connection, select_establecimiento)

for establecimiento in establecimientos:

    print(establecimiento)

(1, 'El Escondido', 'Active', '2024-01-29 20:41:00.633863', '2024-01-29 20:41:00.633863')

In [ ]:
import json

establishments = Establishment.query.all()

# Convert the list of Establishment objects to a JSON array
json_data = json.dumps([establishment.to_dict() for establishment in establishments])

print(json_data)